body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-material {
  background-color: #6748cd;
}

.nb-hide {
  display: none !important;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.comment-container {
  font-family: Lato;
  margin-top: 100px;
}

.comment-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #6200ed;
}

.bg-light-gray {
  background-color: #eeeef2;
}

.bg-white {
  background-color: #ffffff;
}

.color-custom-white {
  color: #ffffff;
}

.content-align-center {
  text-align: center;
  vertical-align: middle;
  line-height: 5%;
}

.navbar {
  margin-bottom: 0;
}

.img-grid {
  margin-top: 20% !important;
}

@media (min-width: 520px) {
  .nb-hide {
    margin-top: 5%;
    display: flex !important;
  }

  .img-grid {
    margin-top: 13% !important;
  }
}
