body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-material {
  background-color: #6748cd;
}

.nb-hide {
  display: none !important;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.comment-container {
  font-family: Lato;
  margin-top: 100px;
}

.comment-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #6200ed;
}

.bg-light-gray {
  background-color: #eeeef2;
}

.bg-white {
  background-color: #ffffff;
}

.content-align-center {
  text-align: center;
  vertical-align: middle;
  line-height: 5%;
}

.navbar {
  margin-bottom: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.img-grid {
  margin-top: 23% !important;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
}

.color-primary {
  color: #0275d8;
}

.border-category {
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  text-align: center;
  font-size: 5px;
  padding-top: 5px;
}

.card-text {
  font-size: 0.5em !important;
}

.nav-link:active {
  border-bottom: solid !important;
  color: #6200ed !important;
  font-weight: bold !important;
  border-bottom-color: #6200ed !important;
}

.nav-link-first {
  border-bottom: solid !important;
  color: #6200ed !important;
  font-weight: bold !important;
  border-bottom-color: #6200ed !important;
}

@media (min-width: 769px) {
  .nb-hide {
    margin-top: 4.5% !important;
    display: flex !important;
    line-height: unset;
  }

  .img-grid {
    margin-top: 20% !important;
    margin-left: 8% !important;
  }

  .card-text {
    font-size: 2em !important;
    font-weight: bold;
  }

  .border-category {
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    padding-top: 0px;
  }
}
