.bg-main {
  background-image: url(../art/main_g.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-image {
  height: auto;
  max-width: 100%;
}
